<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sarah Townsley Photography | Utah Photography</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="bower_components/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="MainController">
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav lists">
                    <li><a href="#home" ng-click="scrollToSection('#home')">Home</a></li>
                    <li><a href="#about" ng-click="scrollToSection('#about')">About</a></li>
                    <li><a href="#portfolio" ng-click="scrollToSection('#portfolio')">Portfolio</a></li>
                    <li><a href="#pricing" ng-click="scrollToSection('#pricing')">Pricing</a></li>
                    <li><a href="#contact" ng-click="scrollToSection('#contact')">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!--title-->
    <div id="home" class="home">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title text-center">Sarah Townsley</h1>
                <h2 class="title-two text-center">P&nbsp; H&nbsp; O&nbsp; T&nbsp; O&nbsp; G&nbsp; R&nbsp; A&nbsp; P&nbsp; H&nbsp; Y</h2>
            </div>
        </div>
    </div>

    <!--    about section-->
    <section>
        <div id="about" class="about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title text-center">ABOUT ME</h2>
                            </div>
                            <div class="panel-body lead">
                                <img class="img-responsive center-block sarah-pic" src="images/sarah-t.jpg" alt="">
                                <p class="text-center about-p">Hello! I'm Sarah! I grew up in Salt Lake City, Utah and graduated from the University of Utah (Go Utes!) with degrees in Psychology and Human Development. I've always had an interest in photography, but I never took it seriously until a few years ago - when my dad gave me his old Nikon. Since then my passion for photography has grown and has even helped lead me to my new career in web design and development.</p>
                                <p class="text-center about-p">On this site, you can see some of the photos I’ve taken so far. My collection is still growing and I would love for you to be part of it! Feel free to contact me and I will get back to you as soon as possible.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!--    portfolio section-->
    <section>
        <div id="portfolio" class="portfolio">
            <h1 class="text-center portfolio-title">PORTFOLIO</h1>
            <p class="text-center click">Double click a category to open</p>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 image">
                    <a id="family-photos" href="#family-gallery" ng-click="scrollToGallery('#hide-family', '#family-photos', '#family-gallery')">
                        <img class="img-responsive portfolio-category-image" src="images/family/family-photography-utah.jpg" alt="Utah Family Photography">
                        <h2 class="category-name">FAMILY</h2>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 image">
                    <a id="kid-photos" href="#kid-gallery" ng-click="scrollToGallery('#hide-kid', '#kid-photos' , '#kid-gallery')">
                        <img class="img-responsive portfolio-category-image" src="images/kids/utah-newborn-kids-photography.jpg" alt="Utah Kids Photography">
                        <h2 class="category-name">KIDS</h2>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 image">
                    <a id="pet-photos" href="#pet-gallery" ng-click="scrollToGallery('#hide-pet', '#pet-photos', '#pet-gallery')">
                        <img class="img-responsive portfolio-category-image" src="images/pets/utah-dog-photography.jpg" alt="Utah Pet Photography">
                        <h2 class="category-name">PETS</h2>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 image">
                    <a id="nature-photos" href="#nature-gallery" ng-click="scrollToGallery('#hide-nature', '#nature-photos', '#nature-gallery')">
                        <img class="img-responsive portfolio-category-image" src="images/flowers-nature/utah-nature-photography.jpg" alt="Utah Nature Photography">
                        <h2 class="category-name">NATURE</h2>
                    </a>
                </div>
            </div>
        </div>


        <!--      PHOTOS-->

        <!--family-->
        <div id="family-gallery">
            <h1 class="text-center gallery-title">Utah Family Photography</h1>
            <p class="text-center"><em>*click image to enlarge</em></p>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-one.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-one.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-two.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-two.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-three.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-three.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-four.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-four.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-five.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-five.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-six.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-six.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-seven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-seven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-eight.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-eight.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-nine.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-nine.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-ten.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-ten.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-eleven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-eleven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/family/utah-family-twelve.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/family/utah-family-twelve.jpg"></image>
                    </a>
                </div>
            </div>
            <button id="hide-family" class="btn btn-danger">Close</button>
        </div>


        <!--        kid-->
        <div id="kid-gallery">
            <h1 class="text-center gallery-title">Utah Kids Photography</h1>
            <p class="text-center"><em>*click image to enlarge</em></p>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-one.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-one.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-two.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-two.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-three.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-three.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-four.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-four.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-five.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-five.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-six.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-six.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-seven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-seven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-eight.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-eight.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-nine.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-nine.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-ten.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-ten.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-eleven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-eleven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-twelve.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/kids/utah-kids-twelve.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-thirteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-thirteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-fourteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-fourteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-fifteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-fifteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-sixteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-sixteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-seventeen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-seventeen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/kids/utah-kids-eighteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/kids/utah-kids-eighteen.jpg"></image>
                    </a>
                </div>
            </div>
            <button id="hide-kid" class="btn btn-danger">Close</button>
        </div>
        <!--        pet-->
        <div id="pet-gallery">
            <h1 class="text-center gallery-title">Utah Pet Photography</h1>
            <p class="text-center"><em>*click image to enlarge</em></p>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-one.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-one.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-two.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-two.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-three.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-three.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-four.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-four.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-five.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-five.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-six.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-six.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-seven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-seven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-eight.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-eight.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-nine.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-nine.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-ten.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-ten.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-eleven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-eleven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-twelve.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/pets/utah-pets-twelve.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-thirteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-thirteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-fourteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-fourteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-fifteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-fifteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-sixteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-sixteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-seventeen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-seventeen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/pets/utah-pets-eighteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/pets/utah-pets-eighteen.jpg"></image>
                    </a>
                </div>
            </div>
            <button id="hide-pet" class="btn btn-danger">Close</button>
        </div>
        <!--        nature-->
        <div id="nature-gallery">
            <h1 class="text-center gallery-title">Utah Nature Photography</h1>
            <p class="text-center"><em>*click image to enlarge</em></p>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-one.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-one.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-two.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-two.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-three.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-three.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-four.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-four.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-five.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-five.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-six.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-six.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-seven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-seven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-twelve.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-twelve.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-nine.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-nine.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-ten.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-ten.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-eleven.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-eleven.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-eight.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image-portrait" src="images/flowers-nature/utah-nature-eight.jpg"></image>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-thirteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-thirteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-fourteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-fourteen.jpg"></image>
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-6">
                    <a href="images/flowers-nature/utah-nature-fifteen.jpg" rel="lightbox" data-lightbox="projects">
                        <image class="img-responsive center-block gallery-image" src="images/flowers-nature/utah-nature-fifteen.jpg"></image>
                    </a>
                </div>
            </div>
            <button id="hide-nature" class="btn btn-danger">Close</button>
        </div>


    </section>

    <!--    pricing section-->
    <section>
        <div id="pricing" class="pricing">
            <h1 class="pricing-title text-center">PRICING</h1>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title text-center">FAMILY SESSION</h2>
                            </div>
                            <div class="panel-body lead">
                                <p>$150 session fee includes a one hour session up to 6 people.</p>
                                <br/>
                                <p>This fee includes pictures of the whole family as well as individual pictures of children, couple pictures, etc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title text-center">PETS</h2>
                            </div>
                            <div class="panel-body lead">
                                <p>$60 session fee includes a one hour session for up to 3 pets.</p>
                                <br/>
                                <p>Did you adopt your pet from a shelter? Show me your adoption certificate to receive a 25% discount.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title text-center">LARGE GROUPS</h2>
                            </div>
                            <div class="panel-body lead">
                                <p>$250 session fee includes a 1-2 hour session up to 10 people - each additional person after 10 is $25</p>
                                <br/>
                                <p>This fee also includes pictures of the whole family as well as individual pictures of children, couple pictures, etc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center package">*All fees include a print release and CD of the images.</p>
        </div>
    </section>

    <!--    contact section-->
    <section>
        <div id="contact" class="contact">
            <h1 class="contact-title text-center">CONTACT ME</h1>
            <hr>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="contact-social text-center">Send me a message: </p>
                    <p class="email text-center"><a class="email-link" href="mailto:sactownsley@gmail.com">sactownsley@gmail.com</a></p>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="contact-social text-center">I ALSO HANG OUT AT</p>
                    <div class="text-center contact-icons">
                        <a href="https://github.com/sarahtownsley" title="GitHub" class="btn btn-round btn-clear btn-github" target="_blank"><i class="fa fa-github"></i>
                                <image class="contact-icon img-responsive" src="https://fleep.io/blog/wp-content/uploads/2014/07/github_icon.png"></image>
                            </a>
                        <a href="https://www.linkedin.com/in/sactownsley" title="Linkedin" class="btn btn-round btn-clear btn-linkedin" target="_blank"><i class="fa fa-linkedin-square"></i>
                                <image class="contact-icon img-responsive" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151104_563964389a49e.png"></image>
                            </a>
                        <a href="https://www.facebook.com/sarahcolbytownsley" title="Facebook" class="btn btn-round btn-clear btn-facebook" target="_blank"><i class="fa fa-facebook"></i>
                                <image class="contact-icon img-responsive" src="http://png-1.findicons.com/files/icons/2779/simple_icons/4096/facebook_4096_black.png"></image>
                            </a>
                        <a href="https://www.instagram.com/sactowns/" title="Instagram" class="btn btn-round btn-clear btn-facebook" target="_blank"><i class="fa fa-instagram"></i>
                                <image class="contact-icon img-responsive" src="http://visualviews.com/wp-content/uploads/2015/11/instagram-icon-black-and-white.png"></image>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <footer>
                <p class="text-center">&copy; Sarah Townsley Photography 2016. All Rights Reserved.</p>
            </footer>
        </div>
    </div>






    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js "></script>
    <script src="bower_components/lightbox2/dist/js/lightbox.js "></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.0/jquery.scrollTo.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js "></script>
    <script src='//code.angularjs.org/1.4.7/angular-route.js'></script>
    <script src="app.js"></script>
</body>

</html>